 body,
 html {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
 }

 /* Main container for the taskbar */
 .taskbar {
     background-color: #121212;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
 }

 /* Logo */
 .logo {
     font-size: 24px;
     font-weight: bold;
     margin-right: 20px;
 }

 /* Navigation links */
 .nav-links {
     list-style: none;
     display: flex;
     margin-right: 20px;
 }

 .nav-link {
     margin-right: 15px;
     cursor: pointer;
     font-weight: bold;
     transition: color 0.3s;
 }

 .nav-link:hover {
     color: #FF8E29;
 }

 /* Search bar */
 .search-bar {
     flex-grow: 1;
     margin: 0 20px;
     border: none;
     padding: 8px;
     border-radius: 20px;
 }

 /* Profile icon */
 .profile-icon {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #FF8E29;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }